.footer__div {
  position: fixed;
  z-index: 100;
  bottom: 10px;
}
.footer {
  position: fixed;
  z-index: 100;
  margin: auto;
  bottom: 10px;
  background-color: #ffffffe4;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  color: rgb(49, 49, 49);
}
.footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-top: 1px;
}

#footer__close__icon {
  color: red;
  margin-left: 20px;
  font-size: 20px;
  margin-top: 1px;
}

#footer__arrow {
  color: rgb(66, 65, 65);
  font-size: 25px;
}
